body {
    padding-bottom: 20px;
    min-width: 340px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-toggle {
    float: left !important;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* new css */
.main {
    width: 100%;
}

.category-square {
    width: 50%;
    float: left;
    height: 0;
    text-align: center;
    padding-bottom: 25%;
    padding-top: 15%;
    font-family: AlegryaSans;
    font-size: 12pt;
}

    .category-square img {
        margin-bottom: 10px;
    }

    .category-square a {
        text-decoration: none;
        color: black;
    }

    .category-square:hover a {
        color: white;
    }

.big {
    width: 100% !important;
}

.objective-square {
    width: 100%;
    float: left;
    display: flex;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #BFC2D3;
}
/*star rating*/

.swiper-container {
    width: 90%;
    background-color: black;
}

.swiper-slide {
    padding-top: 50%;
    text-align: center;
    font-size: 18px;
    background: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.white, .white a {
    color: #fff;
}

.home-navbar {
    background: url(http://www.rentalmotorbike.com/images/cities/Cluj-Napoca.jpg) center bottom;
    height: 150px;
    background-size: cover;
}

.sightseeing {
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #BFC0D4;
}

.hotel {
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: #BFC0D4;
}

.tours {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #BFC0D4;
}

.nightlife {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #BFC0D4;
}

.sightseeing:hover img {
    content: url("../Content/images/obiectiv-white.png");
}

.sightseeing:hover {
    background-color: #21BA8B;
}

.food:hover img {
    content: url("../Content/images/food-white.png");
}

.food:hover {
    background-color: #FB7540;
}

.hotel:hover img {
    content: url("../Content/images/hotel-white.png");
}

.hotel:hover {
    background-color: #F03D67;
}

.nightlife:hover img {
    content: url("../Content/images/nightlife-white.png");
}

.nightlife:hover {
    background-color: #384496;
}

.tours:hover img {
    content: url("../Content/images/tour-white.png");
}

.tours:hover {
    background-color: #EEBF31;
}

.sort-form {
    float: right;
}

.objectives-container {
    margin-top: 10px;
}

.bootstrap-select {
    margin-top: 5px;
    margin-right: 5px;
}

.category-header {
    background-color: #E5E7F3;
    margin-bottom: -10px;
    font-family: AlegrySans;
    border-bottom: solid 1px;
    border-color: #BFC2D3;
}

    .category-header span {
        font-family: AlegryaSans;
        color: #323956;
    }

.objective-square img {
    width: 49%;
    height: 40%;
}

.objectives-container p, h4 {
    margin: 0px 0px 5px 0px;
    text-decoration-color: black;
}

@font-face {
    font-family: AlegryaSans;
    src: url(../Content/fonts/AlegreyaSans-Regular.otf);
}

@font-face {
    font-family: AlegryaSansRegular;
    src: url(../Content/fonts/AlegreyaSans-Light.otf);
}

.objective-listing-photo {
    margin: 15px 0px 15px 10px;
    width: 90px;
    height: 90px;
}

.objective-listing-details {
    float: left;
    padding-top: 15px;
    margin-left: 5px;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

/*tabs*/

.etabs {
    margin: 0;
    padding: 0;
}

.tab {
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-family: AlegryaSans;
}

    .tab a {
        font-size: 14px;
        line-height: 2em;
        display: block;
        padding: 0 10px;
        outline: none;
    }

        .tab a:hover {
            text-decoration: underline;
        }

    .tab.active {
        padding-top: 6px;
        position: relative;
        top: 1px;
    }

    .tab a.active {
        font-weight: bold;
        color: #E08E78;
        text-decoration: none;
    }

.tab-container .panel-container {
    padding: 10px;
}

.panel-container {
    margin-bottom: 10px;
}

.read-reviews hr {
    margin: 5px 0px 5px 0px;
}

#add-review-text {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-family: AlegryaSansRegular;
}

    #add-review-text p {
        color: #E3DDE7 !important;
    }

#tabs1-desc {
    text-indent: 40px !important;
    font-family: AlegryaSans;
}

.login-background {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../../Content/images/login-background.png);
    align-content: center;
    background-size: cover;
    text-align: center;
}

.login-text {
    font-family: AlegryaSans;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18pt;
    color: #E3DDE7;
}

#text-back {
    font-family: AlegryaSansRegular;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
    color: #E3DDE7;
}

    #text-back img {
        margin-top: -4px;
    }

.review-container {
    font-family: AlegryaSans;
}

.review-profile img {
    width: 40px;
    float: left;
}

.review-profile p {
    display: initial;
    color: #444877;
}

.review-text {
    margin-top: 5px;
}

.review-title p {
    font-family: AlegryaSansRegular;
    font-weight: bold;
    font-size: 12pt;
    color: #444877;
    margin-bottom: 0px;
}

.navbar-nav {
    text-align: center;
}

.facebook-login-btn{
     background: url(.././Content/images/login-button.png) no-repeat top left;
     display: block;
     width: 100px;
     height: 100px;
     text-indent: -9999px; /* hides the link text */
}
.form-control{
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: inline-block !important;
    border-radius: 0px !important;
}
.form-group{
    margin-left:0px !important;
    margin-right:0px !important;
    display: inline-block !important;
    width: 50% !important;
    min-width: 300px;
    text-align: start;
    font-family: AlegryaSans;
}
.btn-square{
    border-radius: 0px !important;
    width: 100%;
    height: 40px;
    background-color: #F03D67 !important;
    color: white !important;
    font-family: AlegryaSans;
    font-size: 10px;
}

.category-header .category-name{
    line-height:39px;
}

.category-icon{
    margin-left: 5px; 
    margin-right:3px;
    height: 23px;
}

.show-tick{
    margin-top: 2px;
}

.objective-listing-details h4{
    margin-top: 0px;
    margin-bottom: 0px;
}

.tourContainer{
    margin-left: 10px;
    font-family: AlegryaSansRegular; 
}

.tourContiner h3, .tourContainer h4{
    font-weight: bold;
}

.objTour {
    width: 100%;
    float: left;
    display: flex;
}

.objTour .objective-listing-photo
{
    margin:0;
}

.objTour .objective-listing-details
{
    padding-top: 0px;
}

.verticalLine
{
    width: 1px;
    background-color: black;
    height:25px;
    margin-top:70px;
    margin-left:44px;
}

.bottomLine
{
    margin-top: 0px;
}

.checkbox{
    margin-top: 30px !important;
}

.checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px !important;
    margin-right: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #BFC2D3;
    font-family: AlegryaSans;
}
.checkbox label:before {
    content:"";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 30px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid #BFC2D3;
}
.checkbox input[type=checkbox] {
    display: none;
}
.checkbox input[type=checkbox]:checked + label:before {
    content:"\2713";
    font-size: 15px;
    color: #E5B72E;
    text-align: center;
    line-height: 24px;
    font-family: AlegryaSansRegular;
    border: 1px solid #E5B72E;
}
.checkbox input[type=checkbox]:checked + label
{
    color: #E5B72E;
}