@model List<CityGuide.ViewModels.CategoryViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="main">
    @foreach (var cat in Model)
    {
        <div class="category-square">@Html.ActionLink(@cat.Name, "Details/" + @cat.Id, "Category")</div>
    }
    <div style="clear: both"></div>
</div>
