@model CG.Domain.Category

@{
    ViewBag.Title = Html.DisplayFor(model => model.Name);
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    @foreach(var o in ViewBag.Objectives)
    {
        <div>@o.Name</div>
    }
</div>
