@model CG.Domain.Category

@{
    ViewBag.Title = Html.DisplayFor(model => model.Name);
}

<h3>@Html.DisplayFor(model => model.Name)</h3>
<hr />
<div>
    @foreach(var o in ViewBag.Objectives)
    {
        <div class="objective-square" style="background-image:url(@o.Photos[0].url)">@o.Name</div>
    }
    <div style="clear:both"></div>
</div>
